[MYSQL]
MYSQLHOST = localhost
MYSQLUSER = vguser
MYSQLPWD = vgpwd
MYSQLDATABASE = vgdb
MYSQLPOOLSIZE = 7

[APPLICATION]
STARTDATE = 2022-01-01
STOPSYMBOL = AAPL
CHKSYMBOL = TSLA
INTERVAL = 1wk
SYMBOLSLIST = ALL
BACKKUPSYMBOLSLIST = AAPL,TSLA,MSFT,ADP,ORCL,GE,IR,CAT,BAC,WFC,MS,GS,FB,GOOG,AMZN,PLTR,CAT,PFE,UHC

[HINTS_AND_HELP]
INTERVALFORYFINANCE = [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
SYMBOLLIST = CAN BE 'ALL' OR LIST OF SYMBOLS. IF ALL IT WILL PICK ALL SYMBOLS FROM PICKLE FILE
STOPSYMBOL = THIS CAN BE USED TO STOP PROCESSING AT THIS SYMBOL WHILE LOADING FROM PICKLE FILE
CHKSYMBOL = CHECK YFINANCE FOR THIS SYMBOL
