[MYSQL]
MYSQLHOST = localhost
MYSQLUSER = vguser
MYSQLDATABASE = vgdb
MYSQLPOOLSIZE = 7
MYSQLEXEPATH = c:\Program Files\MySQL\MySQL Server 5.7\bin\mysql.exe

[APPLICATION]
STARTDATE = 2022-01-01
STOPSYMBOL = BA
CHKSYMBOL = TSLA
INTERVAL = 1wk
SYMBOLSLIST = ALL
FRESHRUN = Y

[HINTS_AND_HELP]
INTERVALFORYFINANCE = [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
SYMBOLLIST = CAN BE 'ALL' OR LIST OF SYMBOLS. IF ALL IT WILL PICK ALL SYMBOLS FROM PICKLE FILE
STOPSYMBOL = THIS CAN BE USED TO STOP PROCESSING AT THIS SYMBOL WHILE LOADING FROM PICKLE FILE
CHKSYMBOL = TEST YFINANCE FOR THIS SYMBOL
FRESHRUN = Y or N. If Y - it will cleanup/truncate all tables and repopulate
BACKKUPSYMBOLSLIST = AAPL,TSLA,MSFT,ADP,ORCL,GE,IR,CAT,BAC,WFC,MS,GS,FB,GOOG,AMZN,PLTR,CAT,PFE,BA,AA,AAL,ABC,ACI,ACC,AEE,AEP
